<div>{{ (changes | async)?.snelheid }}</div>
<div>{{ currentSnelheid }}</div>
<button (click)="plus()">Plus</button>
<button (click)="min()">Min</button>
<hr>
<table>
  <tr *ngFor="let item of items | async">
    <td>{{ item.date }}</td>
    <td>{{ item.title }}</td>
  </tr>
</table>
